$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "fonts.scss";
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

b {
    font-family: "MyriadProBold", sans-serif;
    font-weight: 700;
}

body {
    font-size: 14px;
    font-family: "MyriadProRegular", sans-serif;
    font-weight: 400;
    color: #393a3a;
}

#form-callback {
    background-color: #fff;
    width: 560px;
    height: 340px;
    padding-top: 40px;
    position: relative;
    p {
        text-align: center;
        color: #89DA05;
        font-size: 24px;
        margin-top: 15px;
    }
    input {
        position: relative;
        width: 250px;
        height: 35px;
        border-radius: 2px;
        border: 1px solid #b9b9b9;
        font-size: 15px;
        padding: 6px 6px 6px 30px;
        color: #6B6B6B;
        background-color: #F2F2F2;
        &:hover {
            background-color: #fff;
        }
    }
    .first-input {
        margin-top: 15px;
        margin-bottom: 10px;
        position: relative;
        .person {
            background-image: url("../images/person.png");
            height: 24px;
            width: 24px;
            position: absolute;
            top: 15%;
            left: 29%;
        }
    }
    .next-input {
        position: relative;
        .tell {
            background-image: url("../images/tell.png");
            height: 24px;
            width: 24px;
            position: absolute;
            top: 15%;
            left: 29%;
        }
    }
    .sup {
        margin-top: 20px;
        height: 38px;
        width: 230px;
        background-color: #89DA05;
        border: none;
        color: #fff;
        text-transform: uppercase;
        border-radius: 10px;
        font-size: 20px;
    }
    .mfp-close {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        top: -15px;
        right: -15px;
        font-size: 20px;
        width: 30px;
        height: 30px;
        line-height: 1px;
        color: #fff;
    }
}

header {
    padding-top: 20px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 130px;
    z-index: 999;
    top: 0;
    .top-nav {
        .top-nav--logo {
            img {
                margin-top: 10px;
            }
        }
        .top-nav--about-title {
            color: #757575;
            font-size: 19px;
            text-transform: uppercase;
            margin-top: 3px;
        }
        .top-nav--tell-ico {
            color: #37B20D;
            font-size: 22px;
            img {
                margin-right: 15px;
            }
        }
        .top-nav--back-call {
            a {
                font-family: "MyriadProCondRegular", sans-serif;
                font-weight: 400;
                text-decoration: underline;
                color: #A7A7A7;
                font-size: 19px;
            }
        }
        .top-nav--link-email {
            a {
                color: #1feb26;
                font-family: "MyriadProCondRegular", sans-serif;
                font-weight: 400;
                font-size: 22px;
            }
        }
        nav {
            margin-top: 10px;
            background-image: url("../images/nav-line.png");
            background-size: cover;
            ul {
                padding-left: 0;
                margin-bottom: 0;
                li {
                    position: relative;
                    list-style: none;
                    display: inline-block;
                    margin: 3px 5%;
                    a {
                        text-transform: uppercase;
                        color: #fff;
                        text-decoration: none;
                        font-size: 14px;
                    }
                    ul {
                        position: absolute;
                        // left: -9999px;
                        // opacity: 0;
                        display: none;
                        top: 30px;
                        left: -65px;
                        z-index: 100;
                        >li {
                            background-color: #CBCBCB;
                            width: 200px;
                            padding: 5px 10px;
                            margin: 0;
                            border-bottom: 1px solid #C4C4C4;
                            font-family: "MyriadProCondRegular", sans-serif;
                            font-weight: 400;
                            &:hover {
                                background-color: rgba(31, 235, 38, 1);
                                a {
                                    color: #fff;
                                }
                            }
                            >a {
                                text-transform: none;
                                color: #006837;
                                font-size: 16px;
                            }
                            ul {
                                display: none;
                                left: 200px;
                                position: absolute;
                                top: 0;
                                >li {
                                    background-color: #CBCBCB;
                                    width: 300px;
                                    padding: 5px 10px;
                                    margin: 0;
                                    border-bottom: 1px solid #C4C4C4;
                                    font-family: "MyriadProCondRegular", sans-serif;
                                    font-weight: 400;
                                    &:hover {
                                        background-color: rgba(31, 235, 38, 1);
                                        a {
                                            color: #fff !important;
                                        }
                                    }
                                    >a {
                                        text-transform: none;
                                        color: #006837 !important;
                                        font-size: 16px;
                                    }
                                    ul {
                                        display: none;
                                        left: 300px;
                                        position: absolute;
                                        top: 0;
                                        li {
                                            background-color: #CBCBCB;
                                            width: 300px;
                                            padding: 5px 10px;
                                            margin: 0;
                                            border-bottom: 1px solid #C4C4C4;
                                            font-family: "MyriadProCondRegular", sans-serif;
                                            font-weight: 400;
                                            &:hover {
                                                background-color: rgba(31, 235, 38, 1);
                                                a {
                                                    color: #fff !important;
                                                }
                                            }
                                            a {
                                                text-transform: none;
                                                color: #006837 !important;
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#header-bg {
    margin-top: 130px;
    background-image: url("../images/header-bg.jpg");
    height: 550px;
    background-size: cover;
    background-position: 50% 50%;
    h1 {
        color: #fff;
        text-transform: uppercase;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
        line-height: 75px;
        font-size: 53px;
        display: inline-block;
        margin-top: 30px;
    }
    .header-bg--consultation {
        margin-top: 15px;
        background-image: url("../images/header-bg--consultation.png");
        height: 300px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: relative;
        .header-bg--consultation__head {
            background-image: url("../images/header-bg--consultation__head.png");
            height: 91px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            padding-top: 10px;
            p {
                color: #fff;
                text-transform: uppercase;
                font-family: "MyriadProBold", sans-serif;
                font-weight: 700;
                font-size: 15px;
                margin-bottom: 0;
                text-shadow: 4px 2px 2px rgba(150, 150, 150, 1);
            }
        }
        .header-bg--consultation_body {
            p {
                margin: 0;
                input {
                    width: 250px;
                    height: 35px;
                    border-radius: 2px;
                    border: 1px solid #b9b9b9;
                    font-size: 15px;
                    padding: 6px 6px 6px 30px;
                    color: #6B6B6B;
                }
            }
            .first-input {
                margin-top: 15px;
                margin-bottom: 10px;
                .person {
                    background-image: url("../images/person.png");
                    height: 24px;
                    width: 24px;
                    position: absolute;
                    top: 37%;
                    left: 17%;
                }
            }
            .next-input {
                .tell {
                    background-image: url("../images/tell.png");
                    height: 24px;
                    width: 24px;
                    position: absolute;
                    top: 52%;
                    left: 17%;
                }
            }
            button {
                margin-top: 20px;
                background-image: url("../images/header-bg-button.png");
                height: 38px;
                width: 180px;
                // background-color: #1ac419;
                border: none;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
    .indi-spending {
        color: #23eb29;
        text-transform: uppercase;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            display: block;
            background-image: url("../images/vertical-line.png");
            width: 6px;
            height: 230px;
            right: -20px;
            top: -55px;
        }
        p {
            text-align: right;
            margin: 0;
            line-height: 40px;
            span {
                background-color: rgba(0, 0, 0, .8);
                font-size: 42px;
                padding: 0 20px;
                font-family: "MyriadProCondBold", sans-serif;
                font-weight: 700;
            }
        }
    }
    .design-after-relize {
        margin-top: -10px;
        p {
            margin: 0;
            line-height: 0;
            span {
                color: #fff;
                font-family: "MyriadProCondRegular", sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 30px;
                line-height: 50px;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.61);
            }
        }
    }
}

#services {
    .bigg-letter {
        text-transform: uppercase;
        line-height: 204px;
        color: #37B20D;
        font-size: 170px;
        letter-spacing: -5px;
        font-family: 'MyriadProCondRegular';
        font-weight: 400;
    }
    .design-pensil {
        margin-top: 30px;
        p {
            margin-bottom: 0;
            font-family: 'MyriadProCondRegular';
            font-weight: 400;
            font-size: 50px;
            text-transform: uppercase;
            color: #37B20D;
            &>img {
                margin-bottom: 10px;
                margin-right: 15px;
            }
            &>a>img {
                margin-bottom: 15px;
                margin-left: 20px;
            }
        }
        ul {
            list-style-image: url("../images/list-style.png");
            margin-left: 70px;
            margin-top: -5px;
            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'MyriadProCondRegular';
                    font-weight: 400;
                    font-size: 16px;
                    color: #000000;
                }
            }
        }
    }
    .implementation-block {
        margin-top: -40px;
        img {
            margin-bottom: 30px;
        }
    }
    .implementation {
        p {
            margin-bottom: 0;
            font-family: 'MyriadProCondRegular';
            font-weight: 400;
            font-size: 50px;
            text-transform: uppercase;
            color: #37B20D;
        }
        ul {
            list-style-image: url("../images/list-style.png");
            margin-left: 0px;
            margin-top: -5px;
            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'MyriadProCondRegular';
                    font-weight: 400;
                    font-size: 16px;
                    color: #000000;
                }
            }
        }
    }
    .maf {
        margin-top: 40px;
        p {
            margin-bottom: 0;
            font-family: 'MyriadProCondRegular';
            font-weight: 400;
            font-size: 50px;
            text-transform: uppercase;
            color: #37B20D;
            &>img {
                margin-bottom: 10px;
                margin-right: 15px;
            }
            &>a>img {
                margin-bottom: 15px;
                margin-left: 20px;
            }
        }
        ul {
            list-style-image: url("../images/list-style.png");
            margin-left: 70px;
            margin-top: -5px;
            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'MyriadProCondRegular';
                    font-weight: 400;
                    font-size: 16px;
                    color: #000000;
                }
            }
        }
    }
    .water-build {
        margin-top: -20px;
        a>img {
            margin-top: 25px;
        }
        p {
            margin-bottom: 0;
            font-family: 'MyriadProCondRegular';
            font-weight: 400;
            font-size: 40px;
            text-transform: uppercase;
            color: #37B20D;
        }
        ul {
            list-style-image: url("../images/list-style.png");
            margin-left: 70px;
            margin-top: -5px;
            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'MyriadProCondRegular';
                    font-weight: 400;
                    font-size: 16px;
                    color: #000000;
                }
            }
        }
    }
    .ser {
        margin-top: -120px;
        a>img {
            margin-top: 15px;
        }
        p {
            margin-bottom: 0;
            font-family: 'MyriadProCondRegular';
            font-weight: 400;
            font-size: 50px;
            text-transform: uppercase;
            color: #37B20D;
        }
        ul {
            list-style-image: url("../images/list-style.png");
            // margin-left: 70px;
            margin-top: -5px;
            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'MyriadProCondRegular';
                    font-weight: 400;
                    font-size: 16px;
                    color: #000000;
                }
            }
        }
    }
}

#about-company {
    margin-top: 30px;
    background-image: url("../images/about-company.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: 50% 60%;
}

#design-consultation {
    background-color: #76818F;
    padding-top: 10px;
    padding-bottom: 20px;
    p {
        color: #fff;
        text-align: center;
        color: #FFFFFF;
        font-size: 31px;
        font-family: "MyriadProCondRegular";
        font-weight: 400;
        line-height: 35px;
        text-transform: uppercase;
    }
    form {
        input {
            width: 250px;
            height: 35px;
            border-radius: 2px;
            border: 1px solid #b9b9b9;
            font-size: 15px;
            padding: 6px 6px 6px 30px;
            color: #6B6B6B;
            margin-right: 3%;
            font-family: "MyriadProCondRegular", sans-serif;
        }
        .first-input {
            position: relative;
            .person {
                background-image: url("../images/person.png");
                height: 24px;
                width: 24px;
                position: absolute;
                top: -15%;
                left: 1%;
            }
        }
        .next-input {
            position: relative;
            .tell {
                background-image: url("../images/tell.png");
                height: 24px;
                width: 24px;
                position: absolute;
                top: -15%;
                left: 1%;
            }
        }
        button {
            border: none;
            height: 33px;
            width: 107px;
            background-color: #5bc305;
            text-transform: uppercase;
            color: #fff;
            font-size: 20px;
            line-height: 1;
            border-radius: 3px;
            font-family: "MyriadProBold";
            font-weight: 700;
        }
    }
}

#big-eye {
    background-image: url("../images/big-eye.png");
    height: 540px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    .price-work {
        margin-top: 60px;
    }
    .landscape {
        margin-top: 20px;
        color: #1FEB26;
        font-size: 35px;
        text-transform: uppercase;
    }
    .we-individual {
        margin-top: 30px;
    }
    .call-me-consultation {
        margin-top: 30px;
        color: #353535;
        font-size: 24px;
        text-transform: uppercase;
        font-family: "MyriadProRegular", sans-serif;
        p {
            line-height: 45px;
            margin-bottom: 0;
            b {
                color: #58C005;
                font-family: "MyriadProCondBold", sans-serif;
                font-weight: 700;
                font-size: 49px;
            }
        }
    }
}

#pravda {
    background-image: url("../images/pravda.png");
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 15px;
    background-size: cover;
}

#clock-time {
    background-image: url("../images/clock.png");
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    .landscape-design {
        margin-top: 50px;
        p {
            font-size: 25px;
            line-height: 30px;
            color: #37B30D;
            text-transform: uppercase;
        }
        ul {
            li {
                margin-bottom: 10px;
                list-style-image: url("../images/list-style.png");
                font-size: 17px;
                line-height: 20px;
                color: #242424;
                text-transform: uppercase;
                b {
                    color: #37B30D;
                }
            }
        }
    }
}

#chestno {
    background-image: url("../images/chestno.jpg");
    height: 430px;
    .landscape-work {
        color: #fff;
        text-transform: uppercase;
        font-size: 49px;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
        margin-top: 20px;
    }
    .landscape-work-two {
        color: #fff;
        text-transform: uppercase;
        font-size: 49px;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
        // line-height: 40px;
        span {
            text-transform: none;
        }
    }
    .portfel {
        margin-bottom: 15px;
    }
    .shadow {
        background-color: rgba(0, 0, 0, .4);
        margin-top: 20px;
        p {
            margin: 5px;
            color: #fff;
            color: #FFFFFF;
            font-size: 19px;
            padding: 13px 10px;
        }
    }
    .img-block-porfel {
        margin-top: 30px;
    }
}

#chesnok {
    padding-top: 15px;
    b {
        color: #37B20D;
        font-size: 20px;
        font-family: "MyriadProCondBold", sans-serif;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 15px;
        display: inline-block;
    }
    p {
        padding-left: 30px;
        text-align: justify;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 16px;
        color: #20201F;
    }
}

#work-with-our {
    background-image: url("../images/work-with-our.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: 45% 50%;
    .img-rotate {
        margin-top: 60px;
    }
    .step-work {
        margin-top: 30px;
        p {
            font-size: 24px;
            color: #fff;
            margin-bottom: 20px;
            img {
                margin-right: 15px;
            }
        }
        .fix {
            line-height: 1
        }
    }
}

#advantages {
    background-image: url("../images/advantages.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 50% 50%;
    .heading-advantages {
        font-size: 65px;
        color: #fff;
        text-transform: uppercase;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
        span {
            color: #D6F802;
        }
    }
    .step-advantages {
        p {
            margin-top: 15px;
            color: #fff;
            font-size: 18px;
            img {
                margin-right: 15px;
            }
        }
    }
    .step-advantages-right {
        p {
            margin-top: 15px;
            color: #fff;
            font-size: 18px;
            img {
                margin-left: 15px;
            }
            .fix-img {
                margin-top: -20px;
            }
        }
    }
}

#ourwork {
    .heading-ourwork {
        margin-top: 15px;
        color: #37B20D;
        text-transform: uppercase;
        font-size: 62px;
        letter-spacing: 1px;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
    }
    h3 {
        color: #37B20D;
        font-size: 35px;
        line-height: 20px;
        margin: 0;
        margin-top: -10px;
        margin-bottom: 25px;
    }
    .popup-gallery {
        a {
            margin-left: 0.5%;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .full-work {
        margin-bottom: 25px;
        a {
            margin-top: 25px;
            display: inline-block;
            width: 220px;
            background-color: #53CB3A;
            text-decoration: none;
            padding-top: 2px;
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            &:hover {
                background-color: #1A7A05;
            }
        }
    }
}

#garden {
    padding-top: 25px;
    background-image: url("../images/garden-bg.jpg");
    background-repeat: no-repeat;
    height: auto;
    .seo-text-first {
        p {
            font-size: 17px;
            text-align: justify;
            line-height: 1;
            color: #fff;
        }
        ul {
            font-size: 17px;
            text-align: justify;
            line-height: 1;
            color: #fff;
            li {
                list-style: none;
            }
        }
    }
    .heading-garden {
        margin-top: 15px;
        color: #fff;
        text-transform: uppercase;
        font-size: 62px;
        letter-spacing: 1px;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
    }
    .full-work {
        margin-bottom: 25px;
        a {
            margin-top: 25px;
            display: inline-block;
            width: 220px;
            background-color: #53CB3A;
            text-decoration: none;
            padding-top: 2px;
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            &:hover {
                background-color: #1A7A05;
            }
        }
    }
}

#problem {
    background-image: url("../images/problem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    .heading-problem {
        color: #148AE4;
        font-size: 50px;
        font-family: "MyriadProCondRegular", sans-serif;
        font-weight: 400;
    }
    .block {
        margin-top: 30px;
        position: relative;
        p {
            margin-bottom: 5px;
            color: #fff;
            font-size: 16px;
        }
        &:before {
            content: "";
            display: block;
            background-image: url("../images/green-line.png");
            width: 8px;
            height: 240px;
            position: absolute;
            left: -20px;
        }
    }
}

footer {
    background-color: #7e7e7e;
    padding-top: 30px;
    padding-bottom: 20px;
    .seo-text-second {
        p {
            color: #fff;
            font-size: 15px;
        }
        ul {
            color: #fff;
            font-size: 15px;
            line-height: 1;
            li {
                list-style: none;
            }
        }
    }
    .footer-number {
        color: #1FEB26;
        font-size: 30px;
        b {
            font-family: "MyriadProBold", sans-serif;
            font-weight: 700
        }
    }
    .callback-footer {
        a {
            font-family: "MyriadProCondRegular", sans-serif;
            font-weight: 400;
            text-decoration: underline;
            color: #fff;
            font-size: 19px;
        }
    }
    .footer-email {
        a {
            color: #1FEB26;
            font-size: 20px;
        }
    }
    .about-footer {
        color: #fff;
    }
    .politic {
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    .block-two {
        margin-top: 30px;
    }
    .block-one {
        img {
            margin-top: 35px;
        }
    }
}

@import "media.scss";
